<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/listings" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="number" name="price" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" name="description" class="form-control"></textarea>
        </div>
        <div class="form-group dropdown">
          <label for="home_type">Home Type</label><br>
          <select class="selectpicker" multiple>
              <option>Flat</option>
              <option>House or chalet</option>
              <option>Country home</option>
              <option>Duplex</option>
              <option>Penthouses</option>
          </select>
        </div>
        <div class="form-group">
          <label for="size">Size</label>
          <input type="number" name="size" class="form-control">
        </div>
        <div class="form-group">
          <label for="bedrooms">Bedrooms</label>
          <input type="number" name="bedrooms" class="form-control">
        </div>
        <div class="form-group">
          <label for="bathrooms">Bathrooms</label>
          <input type="number" name="bathrooms" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit">Create Campaign</button>
        </div>
      </form>
    </div>
  </div>
</div>
