<h3>Here you can find you new home3 </h3>
<div id="map"></div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKIv36asP3gBqbOWJsq4lEtYPRx1LW-Sw"></script>

<script type="text/javascript" src="/javascripts/main.js"></script>