<h3 class="text-center">Here you can find your new home </h3>
<div id="map"></div>


<div class="listing-row row">
    <h3 class="text-center">Available Listings</h3>
    <% listings.forEach((listing) => { %>
      <div class="col-sm-3 home-listing-box">
        <div class="listing-info-wrapper">
          <a class="title" href="/listings/<%= listing._id %>">
            <strong><%= listing.title %></strong>
          </a><br>
          <span class="light-text description"><%= listing.description %></span>
        </div>
      </div>
    <%  }) %>
  </div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKIv36asP3gBqbOWJsq4lEtYPRx1LW-Sw"></script>
<script type="text/javascript"> var myListings = <%- JSON.stringify(listings) %></script>
<script type="text/javascript" src="/javascripts/main.js"></script>
