<!-- views/visits/new.ejs -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/visits" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control">
        </div>
        <div class="form-group">
          <label for="meeting">meeting</label>
          <input type="date" name="meeting" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit">Create visit</button>
        </div>
      </form>
    </div>
  </div>
</div>