<!-- views/visitors/new.ejs -->
<div class="container">
 
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/visitors" method="post">
        <div class="form-group">
          <label for="visitorName">Your name</label>
          <input type="text" name="visitorName" class="form-control">
        </div>
        <div class="form-group">
          <label for="visitorEmail">Email</label>
          <input type="text" name="visitorEmail" class="form-control">
        </div>
        <div class="form-group">
          <label for="vistorPhone">Phone</label>
          <input type="text" name="visitorPhone" class="form-control">
        </div>
        <div class="form-group">
          <label for="vistorDate">Choose Date</label>
          <input type="text" name="visitorDate" class="datepicker">
        </div>
        <div class="form-group">
        <label for="vistorTime">Choose Time</label>
        <input type="text" name="visitorTime" class="timepicker">
      </div>
        
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">


              <h4>Email Confirmation</h4>

          
              Hi,  <%= visitorName %>
          
            
              <br> Best Regards<br>
              <br>
               
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
          </div>
        </div>
        
        <div class="row">
          <button class="btn waves-effect waves-light" type="submit" name="action"  data-target="modal1" class="btn modal-trigger">Agree to share my data
            <i class="material-icons right">send</i>
          </button>
          <br>
          <br>
          <button id='getdata' data-target="modal1" class="btn modal-trigger">       Ask for a visit<i class="material-icons right">phone</i></button>
        </div>
      
      </form>
    </div>
   
  </div>
  <% if(typeof newVisitor != 'undefined'){ %>
    <pre><%= newVisitor %></pre>
<% } else{ %>  
    <p>NO VISITORS</p>
<% } %>
</div>

<script type="text/javascript" src="/javascripts/main.js"></script>
