<!-- views/visitors/new.ejs -->
<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      
     <div class="form-group">
          <label for="visitorName">Your Name</label>
          <input id= 'visitorName' type="text" name="visitorName" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Phone</label>
          <input id= 'visitorPhone' type="text" name="visitorPhone" placeholder="Phone">
        </div>
       <div class="form-group">
          <label>Your email</label>
          <input id= 'visitorEmail' type="text" name="visitorEmail" placeholder="email">
        </div>
        
        <div class="form-group">
          <button type="submit">Create visit</button>
        </div>
      </form>
    </div>
  </div>
</div>