body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.a {
  color: black;
}

/* public/stylesheets/styles.css */
.main-container {
  padding-top: 5px;
}




.home-heading {
  background-color: #E3ECFA;
  height: 75vh;
  padding: 0 30%;
  position: relative;
}

.home-heading-wrapper {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-heading-wrapper > h1 {
  font-size: 9rem;
}

.home-heading-wrapper > p {
  font-size: 2rem;
}

.listing-row {
  margin-top: 3%;
}

.home-listing-box {
  border: 1px solid #d3d3d3;
  height: 300px;
  margin: 30px 4%;
  padding: 0;
}

.home-listing-box img {
  width: 100%;
  height: 45%;
}

.listing-info-wrapper {
  padding: 5px 7px;
  font-size: 0.9em;
}

.listing-info-wrapper > .description {
  display: block;
  margin-top: 20px;
}

.listing-info-wrapper > .title {
  color: black;
  font-size: 1.1em;
}

.listing-image {
  width: 160px;
  padding: 1px;
  
}

.listing-total {
  font-size: 1.9em;
  color: #05AF3C;
}

.light-text {
  color: #626369;
  font-size: 0.8em;
 
}

.large-strong {
  font-size: 1.4em;
}

progress {
  width: 100%;
}

.listing-info div {
  margin-bottom: 15px;
}

.listing-container .row {
  padding: 35px 0;
}

.backer-btn {
  background-color: #25CB68;
  border-radius: 3px;
  border: 1px solid black;
  color: white;
  width: 200px;
  height: 45px;
  font-size: 1.8rem;
}

.backer-btn:hover {
  color: white;
  background-color: #05AF3C;
}

.listing-price {
  font-size: 1.4rem;
  padding: 10px 0;
  text-align: center;
  float: right;
  width: 150px;
}

.listing-description {
  padding-right: 275px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 40px;
    color: black;
}
#map {
        height: 500px;
        width: 100%;
       }
.light-text description{
font-size: 14px;
color:red;

}
.title{
  color: #f7931e;
}
.table {
font-size: 12px
}
.th, td{
  padding: 0px;
  font-size: 18px;
  text-align: center;
}